{% extends 'bootstrap/layout.html.twig' %}

{% block title %}{{ student.firstname }} {{ student.lastname }}{% endblock %}

{% block content %}
    <img src="{{ asset(student.image) }}" />
    
    <a href="{{ path('team_list') }}">Retour à la liste</a>
{% endblock %}
