{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><i class="fa fa-key"></i> Admin</h1>
    </div>
{% endblock %}
