.jumbotron {
    padding: 1.5rem 2rem;
}

.lead-last {
    margin-bottom: 0;
}

.cards .card {
    margin-bottom: 20px;
}

.rounded-avatar {
    float: left;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.container {
    padding-bottom: 40px;
}

.stars {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.5em;
    vertical-align: top;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
