{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Projets Étudiants{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><i class="fa fa-graduation-cap"></i> Test Étudiants</h1>
        <hr />
        <p class="lead">
            Ce site répertorie les projets Symfony codés par les étudiants d'YNOV en B2. Chaque étudiant pourra également <strong>noter chaque projet</strong>.
        </p>
        <p class="lead lead-last">
            Vous pouvez retrouver le code de ce projet sur github : <i class="fa fa-github"></i> <a href="https://github.com/tentacode/students-review">https://github.com/tentacode/students-review</a>
        </p>
    </div>
    
    {% for rows in teams|batch(3) %}
        <div class="row">
            {% for team in rows %}
                <div class="col-sm-4 cards">
                    {% include '@Student/Team/card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
