<span title="{{ rating }} / 5" class="{{ span_class|default('') }}">
    <i class="fa fa-star{% if rating < 1 %}-o{% endif %}"></i>
    <i class="fa fa-star{% if rating < 2 %}-o{% endif %}"></i>
    <i class="fa fa-star{% if rating < 3 %}-o{% endif %}"></i>
    <i class="fa fa-star{% if rating < 4 %}-o{% endif %}"></i>
    <i class="fa fa-star{% if rating < 5 %}-o{% endif %}"></i>
</span>
